[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = https://github.com/godspeed-x/dwm-flexipatch/
	branch = master

[submodule "st-flexipatch"]
	path = st-flexipatch
	url = https://github.com/godspeed-x/st-flexipatch/
	branch = master
